.container{
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius:10px ;
  }
  
  .title{
    margin-bottom: 20px;
    font-weight: 200;
    color: var(--textSoft);
  }
  
  .table{
    width: 100%;
  }
  
  .table td{
    padding: 10px;
  }
  
  .project{
    display: flex;
    gap: 5px;
    align-items: center;
  }
  
  .userImage{
    object-fit: cover;
    border-radius: 50%;
  }
  
  .status{
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    color: white;
  }
  
  .funding{
    background-color: #ffee0075;
  }

  .review{
    background-color: #738bf775;
  }

  .construction{
    background-color: #ffaa0075;
  }

  
  .done{
    background-color: #afeeb975;
  }
  
